@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary:  #764ba2;
  --gray100: #ccc;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

.fancy-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  border: 2px solid var(--primary);
  padding: 2rem;
  border-radius: 6px;
  background-color: black;
}

h2 {
  display: inline-block;
  margin-bottom: 1rem;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 14px;
  margin-bottom: 6px;
  display: inline-block;
}
form input {
  outline-color: var(--primary);
  width: 100%;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid var(--gray100);
}

form fieldset {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
  border: none;
  > div {
    flex: 1;
  }
}

fieldset svg {
  align-self: center;
}

svg * {
  fill: var(--primary);
}

.error {
  font-size: 12px;
  color: red;
  margin-top: 6px;
}

button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  border-radius: 4px;

  &:hover {
    opacity: 0.8;
  }
}

.actions {
  width: 100%;
  display: flex;
  gap: 0.75rem;
}
